<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Making It Easier For You
        </h2>
        <p class="cs-text">
            I want to help you reap the benefits of a great website without the headache of developing and maintaining it. Let me do the hard part for you so you can focus on what matters most as a businessowner: Running your business.
        </p>
        <a href="/contact" class="cs-button-solid">Get Started Today</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/man-laptop.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/man-laptop.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/man-laptop.jpg" alt="man on laptop" loading="lazy" width="2500" height="1667">
    </picture>

</section>