---
title: 'Small Business Web Design & Development | Winnebago Web Designs'
description: 'Helping you focus on what matters most.'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1203">
        <div class="cs-container">
            <div class="custom-shape-divider-top-1725355554">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" class="shape-fill"></path>
                </svg>
            </div>
            <div class="cs-content">
                <h1 class="cs-title">Small Business Web Design & Development</h1>
                <p class="cs-text">
                    No Wordpress or page builders required - We offer 100% hand-coded websites of exceptional quality starting at $150/mo. We build it so you don't have to.
                </p>
                <a href="/contact" class="cs-button-solid">Get In Touch!</a>
                <h2 class="cs-sub-title">What We Do</h2>
                    <p class="cs-text">
                        Our specialty is in small business web design and development for clients all across the US. Our sites are hand-written to ensure optimal performance, meaning more customers to your site, and more revenue to your business.
                    </p>
                <a href="/contact" class="cs-button-solid"> Learn More </a>
            </div>
            <!--To make your own background crops of people use https://www.remove.bg/-->
        </div>

        <img class="cs-floater" aria-hidden="true" decoding="async" src="/assets/images/hero-background.png" alt="bg" width="4000" height="2667">
        <!--Floating Arrow-->
        <!-- <img class="cs-floater" aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-graph-full.svg" alt="accountant" width="1465" height="950"> -->
    </section>

    <!-- ============================================ -->
    <!--                 Why Choose Us                -->
    <!-- ============================================ -->

    <section id="why-choose-1662">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title"><em>$0</em> Down, <em>$150</em> Per Month, <br /> 12 Month Minimum Contract</h2>
            </div>
            <div class="cs-wrapper">
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-item-number">01</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Aqestic recusandae laudantium
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">02</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Voluptatem eum cupiditate totam
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">03</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Recusandae laudantium optio amet
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">04</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Aqestic recusandae laudantium
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate praesentium dicta.
                            </p>
                        </div>
                    </li>
                </ul>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-item-number">05</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Recusandae laudantium optio amet
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">06</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Aqestic recusandae laudantium
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">07</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Voluptatem eum cupiditate totam
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate praesentium dicta.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-1152">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title"><em>Our</em> Portfolio</h2>
            </div>
            <div class="cs-gallery">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char1.jpg" alt="gallery" width="272" height="320">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char2.jpg" alt="gallery" width="272" height="320">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char3.jpg" alt="gallery" width="272" height="320">
                </picture>
                <!--Picture 4-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char4.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char4.jpg" alt="gallery" width="272" height="320">
                </picture>
                <!--Picture 5-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char5.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char5.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/char5.jpg" alt="gallery" width="272" height="320">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Meet The Team                 -->
    <!-- ============================================ -->

    <section id="meet-us-347">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex-group">
                    <span class="cs-topper">Meet Us</span>
                    <h2 class="cs-title">Our Team Members</h2>
                </div>
                <a href="" class="cs-button-solid">View All Members</a>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!--Background Image-->
                    <picture class="cs-background">
                        <source media="(max-width: 767px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner1.png">
                        <source media="(min-width: 768px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner1.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner1.png" alt="cleaner" width="305" height="335">
                        </picture>
                    <div class="cs-info">
                        <span class="cs-name">Esther Howard</span>
                        <span class="cs-job">CEO</span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Background Image-->
                    <picture class="cs-background">
                        <source media="(max-width: 767px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner2.png">
                        <source media="(min-width: 768px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner2.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner2.png" alt="cleaner" width="305" height="335">
                        </picture>
                    <div class="cs-info">
                        <span class="cs-name">Roser Fetherer</span>
                        <span class="cs-job">Project Manager</span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Background Image-->
                    <picture class="cs-background">
                        <source media="(max-width: 767px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner3.png">
                        <source media="(min-width: 768px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner3.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner3.png" alt="cleaner" width="305" height="335">
                        </picture>
                    <div class="cs-info">
                        <span class="cs-name">Needse Zedd</span>
                        <span class="cs-job">Cleaner</span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Background Image-->
                    <picture class="cs-background">
                        <source media="(max-width: 767px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner4.png">
                        <source media="(min-width: 768px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner4.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/cleaner4.png" alt="cleaner" width="305" height="335">
                        </picture>
                    <div class="cs-info">
                        <span class="cs-name">Kaisa Alita</span>
                        <span class="cs-job">CEO</span>
                    </div>
                </li>
            </ul>
            <div class="cs-bubbles cs-bubbles-small" aria-hidden="true"></div>
            <div class="cs-bubbles cs-bubbles-big" aria-hidden="true">
                <span class="cs-bubbles-big2"></span>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Recent Posts                 -->
    <!-- ============================================ -->

    <section id="blog-1347">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Blog</span>
                <h2 class="cs-title">Directly from The Latest News and Articles</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed molestie justo. Praesent vehicula eleifend.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a class="cs-link" href="/">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png">
                            <source media="(min-width: 601px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png">
                            <img decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png"
                                alt="agency" width="413" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-item-text">
                            <h3 class="cs-h3">
                                Digital check list are you prepared for new year?
                                <picture class="cs-icon-wrapper">
                                    <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                                </picture>
                            </h3>
                            <div class="cs-info">
                                <span class="cs-date">
                                    <img class="cs-date-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                            alt="calendar" width="413" height="374" aria-hidden="true">
                                    07 Sep, 2022
                                </span>
                                <span class="cs-category">
                                    Ecommerce
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="/">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-presentation.png">
                            <source media="(min-width: 601px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-presentation.png">
                            <img decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-presentation.png"
                                alt="agency" width="413" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-item-text">
                            <h3 class="cs-h3">
                                Writing wordPress guides for beginner
                                <picture class="cs-icon-wrapper">
                                    <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                                </picture>
                            </h3>
                            <div class="cs-info">
                                <span class="cs-date">
                                    <img class="cs-date-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                            alt="calendar" width="413" height="374" aria-hidden="true">
                                    07 Sep, 2022
                                </span>
                                <span class="cs-category">
                                    Ecommerce
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="/">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png">
                            <source media="(min-width: 601px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png">
                            <img decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png"
                                alt="agency" width="413" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-item-text">
                            <h3 class="cs-h3">
                                Get a few solutions to hire a best candidate
                                <picture class="cs-icon-wrapper">
                                    <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                                </picture>
                            </h3>
                            <div class="cs-info">
                                <span class="cs-date">
                                    <img class="cs-date-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                            alt="calendar" width="413" height="374" aria-hidden="true">
                                    07 Sep, 2022
                                </span>
                                <span class="cs-category">
                                    Digital Agency
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>

    <!-- ============================================ -->
    <!--                   Pricing                    -->
    <!-- ============================================ -->

    <section id="pricing-1087">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing</span>
                <h2 class="cs-title">Simple & Transparent Pricing</h2>
                <p class="cs-text">
                    We are one of the leading auto repair shops serving customers in Tucson. All mechanic services are performed by highly qualified mechanics. We handle all makes and models in more than 40 car brands.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-package">Personal</span>
                    <span class="cs-price">$49.99</span>
                    <p class="cs-item-p">
                        Basic features for up to 10 services
                    </p>
                    <a href="" class="cs-button-solid cs-price-button">Contact Us</a>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            All available starter feature
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li">
                            Home service 24/7
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li">
                            Customer agent service
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li">
                            Professional Service
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li cs-disabled">
                            2 dedicated mechanic
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li cs-disabled">
                            Remote Service mechanic
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                    </ul>
                </li>
                <li class="cs-item cs-popular">
                    <span class="cs-package">Professional</span>
                    <span class="cs-price">$99.99</span>
                    <p class="cs-item-p">
                        Basic features for up to 10 services
                    </p>
                    <a href="" class="cs-button-solid cs-price-button">Contact Us</a>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            All available starter feature
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li">
                            Home service 24/7
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li">
                            Customer agent service
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li">
                            Professional Service
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li cs-disabled">
                            2 dedicated mechanic
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li cs-disabled">
                            Remote Service mechanic
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                    </ul>
                </li>
                <li class="cs-item">
                    <span class="cs-package">Basic</span>
                    <span class="cs-price">$49.99</span>
                    <p class="cs-item-p">
                        Basic features for up to 10 services
                    </p>
                    <a href="" class="cs-button-solid cs-price-button">Contact us</a>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            All available starter feature
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li">
                            Home service 24/7
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li">
                            Customer agent service
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li">
                            Professional Service
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li cs-disabled">
                            2 dedicated mechanic
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                        <li class="cs-li cs-disabled">
                            Remote Service mechanic
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--Left chevron-->
        <img class="cs-floater cs-floater1" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/left-chevron.svg" alt="checkmark" width="121" height="272">
        <!--Right chevron-->
        <img class="cs-floater cs-floater2" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/right-chevron.svg" alt="checkmark" width="121" height="272">
    </section>
{% endblock %}